
<div class="container">
	<div class="row">
		<div style="margin: 10px 0px;" class="col-md-9">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Your Profile</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
                      {{!-- {{#each personalInfo}} --}}
		                    <form method="POST">
                                {{!-- <div class="form-group row">
                                    <label for="username" class="col-4 col-form-label">User Name</label> 
                                    <div class="col-8">
                                        <input id="username" name="username" placeholder="Username" class="form-control here" required="required" type="text" value="{{username}}" disabled/> 
                                        
                                    </div>
                                </div> --}}
                                    <div class="form-group row">
                                        <label for="name" class="col-4 col-form-label">Họ tên</label> 
                                        <div class="col-8">
                                            <input id="name"  name="hoTen" placeholder="Họ tên" class="form-control here" type="text" value="{{profile.Name_Customer}}" {{ status }}>
                                        </div>
                                    </div>
                                <div class="form-group row">
                                    <label for="diachi" class="col-4 col-form-label">Địa chỉ</label> 
                                    <div class="col-8">
                                        <input id="diachi" name="diaChi" placeholder=" Địa chỉ" class="form-control here" type="text" value="{{profile.Address_Customer}}" {{ status }}>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="sdt" class="col-4 col-form-label">Số điện thoại</label> 
                                    <div class="col-8">
                                        <input id="sdt" name="sdt" placeholder="Số điện thoại" class="form-control here" type="text" value = "{{profile.Phone}}" {{ status }}>
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label for="email" class="col-4 col-form-label">Email</label> 
                                    <div class="col-8">
                                        <input id="email" name="email" placeholder="Email" class="form-control here" required="required" type="text" value="{{profile.Email}}" {{ status }}>
                                    </div>
                                </div>
                                {{!-- {{/each}}           --}}
                                <div class="form-group row">
                                    <div class="offset-4 col-8">
                                    {{{btn1}}}
                                    {{{btn2}}}
                                    
                                    </div>
                                </div>
                            </form>              
		                </div>
		            </div>  
		        </div>
		    </div>
		</div>
        <p> &nbsp; &nbsp;</p>
        <div style="margin: 10px 0px;" class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Chi tiết đánh giá</h4>
                                <hr>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-md-12">           
                            <div class="form-group row">
                                <label for="name" class="col-4 col-form-label">Tổng điểm</label> 
                                <h4>   {{profile.N_Like}}    <i  class="fa fa-thumbs-up"></i>  &nbsp;&nbsp;&nbsp;&nbsp;     </h4>
                            
                                <h4>          {{profile.N_Dislike}} <i  class="fa fa-thumbs-down"></i>     </h4>
                                
                            </div>
                            <table class="table table-bordered table-responsive-sm" >
                            <thead>
                                <tr>
                                <th scope="col">ID</th>                           
                                <th scope="col">Nhận xét</th>
                                <th scope="col">Điểm</th>
                                </tr>
                            </thead>
                            <tbody>
                            {{#each danhGia}}
                                <tr>
                                    <th scope="row">{{Name_Customer}}</th>
                                    <td>{{N_Comment}}</td>
                                    <td>{{#if Dis_Like}}
                                            <i class="fa fa-thumbs-up"></i>
                                        {{else}}
                                            <i class="fa fa-thumbs-down"></i>
                                        {{/if}}  
                                    </td>
                                    
                                </tr>
                            {{/each}}
    
                            </tbody>
                        </table>
                            </div>
                        </div>
                        
                    </div>
                </div>
        </div>
        <p>&nbsp;</p>
        <div style="margin: 10px 0px;" class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Danh sách sản phẩm đang tham gia đấu giá</h4>
                                <hr>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-md-12">                           
                            <table class="table table-bordered table-responsive-sm" >
                            <thead>
                                <tr>
                                    <th scope="col">ID Người bán</th>
                                    <th scope="col">Tên sản phẩm</th>                           
                                    <th scope="col">Giá tiền</th>
                                    <th scope="col">Ngày giao dịch</th>
                                </tr>
                            </thead>
                            <tbody>
                            {{#each dealingProduct}}
                                <tr>
                                    <th scope="row">{{Name_Customer}}</th>
                                    <td>{{Name_Product}}</td>
                                    <td>{{Price}}</td>
                                    <td>{{Date_Of_Sale}}</td>
                                </tr>
                            {{/each}}
    
                            </tbody>
                        </table>
                            </div>
                        </div>
                        
                    </div>
                </div>
        </div>
         <p>&nbsp;</p>
        <div style="margin: 10px 0px;" class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Danh sách sản phẩm đã thắng</h4>
                                <hr>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-md-12">                           
                            <table class="table table-bordered table-responsive-sm" >
                            <thead>
                                <tr>
                                    <th scope="col">ID Người bán</th>
                                    <th scope="col">Tên sản phẩm</th>                           
                                    <th scope="col">Giá tiền</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                            {{#each winningProduct}}
                                <tr>
                                    <th scope="row">{{Id_Seller}}</th>
                                    <td>{{Name_Product}}</td>
                                    <td>{{All_Price}}</td>
                                    <td>{{Date_Of_Sale}}</td>
                                </tr>
                            {{/each}}
    
                            </tbody>
                        </table>
                            </div>
                        </div>
                        
                    </div>
                </div>
        </div>
        
        <div style="margin: 10px 10px;"><button type="button" class="btn btn-success btn-lg" onclick= "xinBan7Ngay({{profile.Id_Customer}})" >Xin được bán trong 7 ngày</button></div>
         <div style="margin: 10px 10px;"> <a href="/user/watch-list"> <button type="button" class="btn btn-success btn-lg" >Xem danh sách sản phẩm yêu thích</button> </a> </div>
    </div>

</div>