<!DOCTYPE html>
<head>
    <title>Check OTP</title>
    <style type="text/css">
        body {
			color:salmon;
			background: #63738a;
			font-family: 'Roboto', sans-serif;
		}
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container" style="margin-top: 100px  ">
	<div class="row">
		<div class="col-md-9">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h1>Thông báo</h1>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
                            <p class="card-text"> <h4>Kiểm tra hòm thư của bạn và nhấn vào nút xác nhận để kích hoạt tài khoản</h4> </p>
                                                
		                </div>
		            </div>
		             <a href="/sendOTP"> <button type="button" class="btn-lg btn-primary" style = "margin: 20px 10px">Gửi lại</button></a>
                <a href="/signout"><button type="button" class="btn-lg btn-primary" style = "margin: 20px 10px">Đăng xuất</button></a>
		        </div>
                
		    </div>
          
        </div>        
    </div>

</div>
    
   
</body>