<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    {{!-- <link rel="stylesheet" href= "../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href = "../../assets/css/bootstrap-grid.min.css"> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .fa {
        font-size: 30px;
        cursor: pointer;
        user-select: none;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>

<body>
   
   {{!-- <a href="/bidder/profile?status=disable"> <button class="btn btn-primary">Xem Profile</button> </a>  --}}

   {{{body}}}


   <script >
       function onConfirmQuayVe(){
          
           if(confirm("Thông tin sẽ không được lưu. Bạn có chắc chắn muốn quay về?")){
               window.location = '/user/profile';
           }
           
       }
       function xinBan7Ngay(id){
            window.location = '/user/profile/promote';
       }
        function passWordValidate(){
            
            let newPW = document.getElementById('new-password').value;
            let confPW = document.getElementById('confirm-password').value;
           //console.log('p1: ', newPW , ' p2: ',confPW);
            if(newPW != confPW){
                alert('Mật khẩu không khớp');
                return false;
            }

            return true;
        }
                                                
      

   </script>
</body>
</html>