<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} </title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.4/handlebars.js"></script>

    <style>
        html {
            font-family: 'Varela Round', sans-serif;
        }
    </style>
</head>

<body>
    {{> home/navbar}}
    <div class="container-fluid ">
        <div class="row py-2 ">
            <div class="col-md-2 mb-1">
                {{> home/leftSide}}
            </div>
            <div class="col-lg-8 container product-detail">
                {{> productDetail/detail}}
            </div>
            <div class="col-md-2 mb-1">
                {{> productDetail/whoBidded}}
            </div>
        </div>
    </div>

    {{!-- <script>
        $(document).ready(function () {
            //-- Click on detail
            $("ul.menu-items > li").on("click", function () {
                $("ul.menu-items > li").removeClass("active");
                $(this).addClass("active");
            })

            $(".attr,.attr2").on("click", function () {
                var clase = $(this).attr("class");

                $("." + clase).removeClass("active");
                $(this).addClass("active");
            })

            //-- Click on QUANTITY
            $(".btn-minus").on("click", function () {
                var now = $(".section > div > input").val();
                if ($.isNumeric(now)) {
                    if (parseInt(now) - 1 > 0) { now--; }
                    $(".section > div > input").val(now);
                } else {
                    $(".section > div > input").val("1");
                }
            })
            $(".btn-plus").on("click", function () {
                var now = $(".section > div > input").val();
                if ($.isNumeric(now)) {
                    $(".section > div > input").val(parseInt(now) + 1);
                } else {
                    $(".section > div > input").val("1");
                }
            })
        }) 
    </script> --}}

    <script>
        $(document).ready(function () {
            $("button#DauGiaBtn").on('click', function (e) {
                e.preventDefault();
                //   var data = $('input[name=query]').val();
                console.log("alert");
                $("#myModal").modal('show');
            })
            let count = 0;
            $("button#submitDauGia").on('click', function (e) {
                e.preventDefault();
                count++;
                var data = $('input[name=cost]').val();
                var idPro = window.location.pathname;
                console.log(idPro);
                idPro = idPro.replace("/product/", "");
                idPro = parseInt(idPro);
                console.log(idPro);
                console.log(data);
                if (count == 1) alert("Vui lòng nhất Đấu giá một lần nữa để xác nhận");
                else if (count == 2) {
                    count = 0;
                    $("#myModal").modal('hide');
                    $.ajax(`/user/daugia`, {
                        type: 'POST',
                        data: { data, idPro },
                        success: function (result) {
                            console.log(result);
                            let message = result.message;
                            console.log(message);
                            result = JSON.parse(result);
                            if (result.isSuccess == 1) {
                                alert("Đấu giá thành công");
                                window.location.replace(`/product/${idPro}`)
                            } else {
                                alert("Đấu giá thất bại");
                            }
                        },
                        error: function (result) {
                            console.log(result);
                        }
                    })
                }

            })
            $("#history").on('click', function (e) {
                console.log("a");
                e.preventDefault();
                let idPro = window.location.pathname;
                idPro = idPro.replace("/product/", "");
                idPro = parseInt(idPro);
                console.log(idPro);
                //   var data = $('input[name=query]').val();
                $("#modalHistory").modal('show');
            })
              $("#history").on('click', function (e) {
                console.log("a");
                e.preventDefault();
                let idPro = window.location.pathname;
                idPro = idPro.replace("/product/", "");
                idPro = parseInt(idPro);
                console.log(idPro);
                //   var data = $('input[name=query]').val();
                $("#modalHistory").modal('show');
            })   
            // chua xong
            function currentDiv(n) {
            showDivs(slideIndex = n);
            }

                function showDivs(n) {
                var i;
                var x = document.getElementsByClassName("mySlides");
                var dots = document.getElementsByClassName("demo");
                if (n > x.length) {slideIndex = 1}
                if (n < 1) {slideIndex = x.length}
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
                }
                x[slideIndex-1].style.display = "block";
                dots[slideIndex-1].className += " w3-opacity-off";
            }
            });

    </script>
</body>

</html>