<div class="card bg-light" style="width:auto">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
                <ul class="list-group ">
                    {{#each cats}}
                    <a  href="/category/{{Id_Category_Lv1}}?page=1&perpage=5" class="list-group-item {{#if isActive}}active text-white{{/if}}">{{Name_Category_Lv1}}</a>
                
                    {{/each}}
                </ul>
            </div>