<!-- Page Features -->
<div class="containter">
<div style="font-size: xx-large; padding: 2rem">WATCH LIST</div>
<div class="row text-center">

  {{#each watchList}}
    {{> home/content/itemProduct}}

{{/each}}
  </div>