
<div class="container">
	<div class="row">
		<div class="col-md-9">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Change Password</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
		                    <form method="GET" action="/bidder/profile" onSubmit = "return passWordValidate()">
                                <div class="form-group">
                                    <label for="">Mật khẩu cũ</label>
                                    <input name="oldPW" type="password" class="form-control" id="old-password" placeholder="Nhập mật khẩu cũ" value="">
                                </div>
                                <div class="form-group">
                                    <label for="">Mật khẩu mới</label>
                                    <input  name="newPW" type="text" class="form-control" id="new-password" placeholder="Nhập mật khẩu mới" value="">
                                </div>
                                <div class="form-group">
                                    <label for="">Xác nhận mật khẩu mới</label>
                                    <input  name="confPW" type="text" class="form-control" id="confirm-password" placeholder="Nhập lại mật khẩu mới" value="">
                                </div>
                                              
                                 <div class="form-group row">
                                    <div class="offset-4 col-8">
                                    {{{btn1}}}
                                    {{{btn2}}}
                                    </div>
                                 </div>
                        </form>
		                </div>
		            </div>
		            
		        </div>
		    </div>
		</div>
	</div>
