{{!-- content --}}

<div class="container">
	<div class="row">
		<div class="col-md-9">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h1>Thông báo</h1>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
                            <p class="card-text"> <h4>Yêu cầu đang chờ được xử lí</h4> </p>
                            <a href="/user/profile/" class="card-link"><h6>Quay về trang cá nhân</h6></a>                    
		                </div>
		            </div>
		            
		        </div>
		    </div>
          
        </div>        
    </div>

</div>
{{!-- content --}}