<!-- Page Features -->

<div class="containter">
  <div style="font-size: xx-large; padding: 2rem">Kết quả tìm kiếm: {{query}}</div>

  <div class="dropdown p-3">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sắp xếp
      <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="/search/{{searchType}}/{{query}}/asc?page=1&perpage=5" class="m-2 p-3">Giá tăng dần</a></li>
      <li><a href="/search/{{searchType}}/{{query}}/desc?page=1&perpage=5" class="m-2 p-3">Giá giảm dần</a></li>  
      <li><a href="/search/{{searchType}}/{{query}}/end?page=1&perpage=5" class="m-2 p-3">Sắp kết thúc</a></li>
    </ul>
  </div>
  <div class="row text-center">
    {{#each item}}
    {{> home/content/itemProduct}}
    {{/each}}
  </div>
</div>