<nav aria-label="...">
  <ul class="pagination pagination-lg justify-content-center ">

    <li class="page-item  ">
      <a class="page-link " href='/search/{{searchType}}/{{query}}?page=1&perpage={{perpage}}' tabindex="-1"
        aria-disabled="true">First</a>
    </li>
    {{#each listpage}}
    <li class="page-item {{#if isActive}}active{{/if}}"><a class="page-link"
        href="/search/{{searchType}}/{{query}}?page={{page}}&perpage={{perpage}}">{{page}}</a></li>
    {{/each}}

    <li class="page-item">
      <a class="page-link " href='/search/{{searchType}}/{{query}}?page={{totalpage}}&perpage={{perpage}}'>Last</a>
    </li>
  </ul>
</nav>