<!-- Page Features -->
<div class="containter">
<div style="font-size: xx-large; padding: 2rem">NHIỀU LƯỢT RA GIÁ NHẤT</div>
<div class="row text-center">

  {{#each topTrend}}
    {{> home/content/itemProduct}}
{{/each}}
  </div>