<!-- Page Features -->
<div class="containter">
<div style="font-size: xx-large; padding: 2rem">SẮP KẾT THÚC</div>
<div class="row text-center">

  {{#each endTime}}
    {{> home/content/itemProduct}}

{{/each}}
  </div>