

<div class="containter">
  <div style="font-size: xx-large; padding: 2rem">GIÁ CAO NHẤT</div>

  <!-- Page Features -->
  <div class="row text-center">

    {{#each highestPrice}}
    {{> home/content/itemProduct}}

    {{/each}}
  
</div>