  <style>
  p {
  overflow: hidden;
  font-family: Helvetica, sans-serif;
  height: 72px;
}
  h4 {
    overflow: hidden;
  height: 80px;
  }
</style>
  <div class="col-lg-2 col-md-4 mb-2">
    <div class="card h-100">
      <img class="card-img-top" style="height: auto;"  src="../../{{Image_Product}}" alt="">
      <div class="card-body">
        <h4 class="card-title item" style="font-size: x-large;">{{Name_Product}}</h4>
        <p class="card-text" style=" overflow: hidden;
    ">{{Evaluate_Product}}</p>
      <h5 style="color: red; font-size:1.5rem">{{Price}} VND</h5>
      </div>
      <div class="card-footer">
        {{!-- <a href="#" class="btn btn-primary">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            Add To Watchlist</a> --}}
                  
        <a href="/product/{{Id_Product}}" class="btn btn-primary my-2 px-5">
            Chi tiết</a>
      </div>
    </div>
  </div>