<!-- Page Features -->
{{#each cat}}
<div class="containter">
<div style="font-size: xx-large; padding: 2rem">{{Name_Category_Lv1}}</div>
<div class="row text-center">
  {{/each}}
  {{#each item}}
    {{> home/content/itemProduct}}
{{/each}}
  </div>

{{> Cat/pagination}}