<div class="table-responsive p-2">
    <table class="table ">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Time</th>
            </tr>
        </thead>

        <tbody id='allBidded'>
            {{#each allBidder}}
            <tr>
                <th scope="row">{{index}}</th>
                <td>{{Name_Customer}}</td>
                <td>{{Price}}</td>
                <td>{{Date_Of_Sale}}</td>
            </tr>
            {{/each}}
        </tbody>

    </table>
</div>