<div class="table-responsive p-2">
    <table class="table ">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Price</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            {{#each bidder}}
            <tr>
                <th scope="row">{{index}}</th>
                <td>{{Price}}</td>
                <td>{{Name_Customer}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>